language: java
deploy:
  provider: releases
  api_key:
    secure: fJtT+1oHGNZ/zsDHr7SiNsvs4RoLBFgeUzCRMws/rpjzZzZ2xSWPsv/6diQQewva1RE17kGszLFBkkGgwotF654Zm9e6RtEU7W6nK216CEYTT0q1aTQiaeQSpjJjLRfVIs0KniW5/ohiLVzU9vA31opXU9kp8jGFKkmxpxpCn8E=
  file_glob: true
  file: build/libs/*
  skip_cleanup: true
  on:
    all_branches: true
    tags: true
    repo: xebialabs-community/xlr-github-plugin
notifications:
  hipchat:
    rooms:
      secure: atecPf6BLb4OWHPXkEp1HfBpFFAT4oS+h0azZKsExAxdA8NNgI4q7+fYdtBhp4u3svnp3jea3YtuuIodiUHe9lTPTVx8mkEtT61B0HmhWJUQKaoMqQSJolV4ChY4dBe9PnPwntai3gJsoRhqWio6r2BHpOj+PhqJRSx0TbsvNFQ=
